
html {
    font-size: 16px;
    overflow: hidden;
    height: 100%;
}

body{
    font-family: poppins, sans-serif;
    margin: 0;
    height: 100%;
    overflow: auto;
    --main-color: lightskyblue;
    --secondary-color: deepskyblue;
    --light-gray: aliceblue;
    --black: #232323;
    --gray: gray;
}

h1,
h2,
h3 {
    font-family: museo, serif;
}

h1 {
    font-size: 2.75rem;
    line-height: 1;
    margin: 0 0 1rem 0;
}

h2 {
    font-size: 2rem;
    margin: 0 0 2rem 0;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    margin: 0 0 .5rem 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

p {
    margin: 0 0 .5rem 0;
}

section {
    margin: 0 auto;
}


.caption {
    font-size: 0.75rem;
    color: var(--gray);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 24px;
}

/* ----------------- NAVIGATION ----------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 4rem;
    padding: 0 24px;
}

.logo {
    display: flex;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: var(--gray);
    align-items: center;
}

.logo strong{
    font-weight: 700;
    color: black;
}

.logo img {
    height: 60px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav ul {
    text-align: right;
}

nav a {
    color: black;
}


nav a:hover {
    border-bottom: 2px solid var(--black);
}

ul img {
    display: none;
}

/* ----------------- INTRO ----------------- */

.intro {
    background-color: var(--main-color);
}

.intro .container {
    display: flex;
    align-items: center;    
    color: var(--black);
}

.intro img {
    width: 60%;
    margin-right: 24px;
}

.claim {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

button {
    background-color: transparent;
    border: 2px solid var(--black);
    color: var(--black);
    padding: 16px 28px;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover {
    background-color: black;
    border: 2px solid var(--black);
    color: white;
    transition: background-color 200ms ease;
}

/* ----------------- INFO CARDS ----------------- */

.cards-container {
    display: flex;
    justify-content: space-between;
}

.card-big {
    width: 60%;
    margin-right: 24px;
}

.card-big img,
.card-big video {
    width: 100%;
    margin-bottom: 2rem;
}

.card-list {
    width: 40%;
}

.card-small {
    display: flex;
    justify-items: space-around;
    align-items: center;
    padding: 16px;
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 17px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 17px -3px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 17px -3px rgba(0,0,0,0.15);
}

.card-small img {
    width: 35%;
    margin-right: 12px;
}

.card-small div {
    padding-bottom: 10px;
}


/* ----------------- COURSES ----------------- */

.courses {
    background-color: var(--light-gray);
    text-align: center;
}

.cards-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-course {
    background-color: white;
    text-align: left;
    width: 32%;
    -webkit-box-shadow: 5px 5px 17px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 17px -3px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 17px -3px rgba(0,0,0,0.15);
    margin-bottom: 1.4rem;
}

.card-course img {
    width: 100%;
}

.card-info {
    padding: 1rem;
}

.tag {
    text-transform: uppercase;
    color: var(--gray);
}

/* ----------------- FOOTER ----------------- */

footer {
    background-color: var(--light-gray);
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding: 0 24px;    
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

/* ----------------- MEDIA QUERY ----------------- */

@media only screen and (max-width: 880px) {

    .intro .container {
        flex-wrap: wrap;
        padding: 0;
    }

    .intro img {
      width: 100%;
      margin-right: 0;
    }

    .intro div {
        padding: 24px;
    }

    button {
        width: 100%;
    }

    .info .card-big {
        display: none;
    }

    .logo img {
        height: 50px;
    }

    ul span,
    .logo p {
        display: none;
    }

    ul img {
        display: inline;
        height: 40px;
    }

    nav ul,
    .logo img {
        margin-bottom: 0;
    }

    nav li {
        width: 50px;
    }

    nav .company {
        display: none;
    }

    .info .container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-list {
        width: 100%;
    }

    .card-big {
        width: 100%;
    }

    .cards-grid {
        flex-wrap: wrap;
    }

    .card-course {
        width: 100%;
        margin-bottom: 10px;
    }

    .card-course img,
    .card-course p {
        display: none;
    }

    .thesis .card-list {
        display: none;
    }

    footer {
        flex-flow: column wrap;
        padding: 20px;
    }

    footer ul {
        display: none;
    }
  }